/*colores*/
$color-principal:dodgerblue;
$color-fondo:grey;
$color-principalsecundario:rgb(14, 96, 178);
$color-fondodivs: rgb(55, 55, 56);

$color-letra:#FFF;
$color-letramediachico:black;
$color-textolol:whitesmoke;
$color-cajas:rgba(255, 192, 203, 0.223);

/*TEXTOS*/
$texto-titulo:Arial, Helvetica, sans-serif;
$sombraTexto:2px 5px black;
$texto-li:30px;
$texto-formacion:35px;
$texto-soybueno:30px;
$texto-lol:32px;
$texto-presentacion:39px;
$texto-caja1CVLOL:20px;
$texto-experiencia:45px;

/*ALTURAS*/
$altura-maxima:100%;
$altura-arriba:15%;
$altura-medio:70%;
$altura-abajo-contacto-medioCVLOL:40%;
$altura-formacion-fotogaleria:30%;
$altura-cajas:300px;
$altura-gridlayout:90%;

$ancho-maximo:100%;

/*MARGIN*/
$margen-cajasCVLOL:2px;
$margen-0auto:0 auto;
$margen-medio:5px;
$margen:1px;

$borde-cajas:black solid 1px;