$color-principal:dodgerblue;
$color-fondo:grey;
$color-principalsecundario:rgb(14, 96, 178);
$color-fondodivs: rgb(55, 55, 56);

$color-letra:#FFF;
$color-letramediachico:black;
$color-textolol:whitesmoke;





